<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Books</h1>
            </div>
            <div class="panel-body">
                <table id="books-data-table" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#books-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": { "url": "@Url.Action("bookTable","book")" },
                        "columns": [
                            { "title": "Id", "data": "Id", "searchable": true },
                            { "title": "Title", "data": "Title", "searchable": true },
                            { "title": "Resume", "data": "Resume", "searchable": true },
                            { "title": "Cat. Num", "data": "CatalogueNumber", "searchable": true },
                            { "title": "CreatedOn", "data": "CreatedOn", "searchable": true },
                            { "title": "ModifiedOn", "data": "ModifiedOn", "searchable": true },
                            { "title": "isDeleted", "data": "isDeleted", "searchable": true },
                            { "title": "DeletedOn", "data": "DeletedOn", "searchable": true }

                        ],
                        "lengthMenu": [[3, 10, 25, 50, 100], [3, 10, 25, 50, 100]],
                    });
                }
            }

            // initialize the datatables
            assetListVM.init();
        });
    </script>

}