@{
    ViewBag.Title = "Book Admin Index";
}

<h2>Book Admin Index</h2>

<div class="container">
    <div class="row">
        <h2>Search Books by name</h2>
        <div class="input-group col-xs-12">
            <p><a href="./book/list" class="btn btn-primary btn-lg">Search books &raquo;</a></p>
        </div>
    </div>
</div>
