@using Gamebook.Web.Models.Book;
@model BookDetailedViewModel

<div class="col-md-12">
    <h1>@Model.Title</h1>
    <h6>Catalogue number: @Model.CatalogueNumber</h6>
    <br />
    <p>@Model.Resume</p>
    <br />
</div>
