@using Gamebook.Web.Models;
@model StatsViewModel

<div class="col-md-12">
    <div class="edit-field">
        Number of books in library: @Model.BooksCount
    </div>
    <div class="edit-field">
        Number of pages in library: @Model.PagesCount
    </div>
</div>
