@using Gamebook.Web.Models.Book
@model BookViewModel

<div class="text-info">
    <h2>@Model.Title</h2>
    <p>Catalogue number: @Model.CatalogueNumber</p>
    <p>@Model.Resume</p>
    <p>@Model.CreatedOn</p>
</div>