@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Administration</h1>

    <p><a href="./user" class="btn btn-primary btn-lg">Users &raquo;</a></p>
    <p><a href="./book/list" class="btn btn-primary btn-lg">Books &raquo;</a></p>
    <p><a href="./page/list" class="btn btn-primary btn-lg">Pages &raquo;</a></p>
</div>