@using Gamebook.Web.Areas.Administration.Models
@model ResultViewModel

@if (Model.Result > 0)
{
    <div class="alert alert-info">Success</div>
}
<div id="createdPageContainer" class="alert alert-info" style="display: none">
</div>
<div class="panel panel-primary list-panel" id="list-panel">
    <div class="panel-heading list-panel-heading">
        <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-url="@Url.Action("Create","Page")" id="btnCreatePage">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Add Page
        </button>
    </div>
    <div class="panel-body">
        <table id="pages-data-table" class="table table-striped table-bordered"></table>
    </div>
</div>
<div class="modal fade" id="createPageModal" tabindex="-1" role="dialog" aria-labelledby="CreatePageModal" aria-hidden="true" data-backdrop="static">
    <div id="createPageContainer">
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/custom/adminPageTable")
}