@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gamebooks library</h1>
    @Html.Action("Stats")
    <br />
    <p><a href="./book" class="btn btn-primary btn-lg">Search books &raquo;</a></p>
</div>